In [1]:
import pandas as pd
import seaborn as sns

# Load Titanic dataset
df_titanic = sns.load_dataset("titanic")

# Check missing values per column
df_titanic.isnull().sum()

# Mean imputation for age
df_titanic["age"] = df_titanic["age"].fillna(df_titanic["age"].mean())

# Mode imputation for embarked
df_titanic["embarked"] = df_titanic["embarked"].fillna(df_titanic["embarked"].mode()[0])

# Mode imputation for embark_town
df_titanic["embark_town"] = df_titanic["embark_town"].fillna(
    df_titanic["embark_town"].mode()[0]
)

# Drop deck column
df_titanic = df_titanic.drop(columns=["deck"])

# Verify missing values after preprocessing
df_titanic.isnull().sum()

df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     891 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  embark_town  891 non-null    object
 12  alive        891 non-null    object
 13  alone        891 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 79.4+ KB