In [1]:
import pandas as pd
import seaborn as sns
# Load Titanic dataset
df_titanic = sns.load_dataset("titanic")
# Create attribute-role mapping
attribute_roles = {
    "survived": "Target Variable",
    "pclass": "Numerical Feature",
    "sex": "Categorical Feature",
    "age": "Numerical Feature",
    "sibsp": "Numerical Feature",
    "parch": "Numerical Feature",
    "fare": "Numerical Feature",
    "embarked": "Categorical Feature",
    "class": "Categorical Feature",
    "who": "Categorical Feature",
    "adult_male": "Categorical Feature",
    "deck": "Categorical Feature",
    "embark_town": "Categorical Feature",
    "alive": "Categorical Feature",
    "alone": "Categorical Feature"
}
# Convert dictionary to DataFrame
df_attribute_classification = pd.DataFrame(
    list(attribute_roles.items()),
    columns=["Attribute Name", "Attribute Role"]
)
df_attribute_classification

   Attribute Name       Attribute Role
0        survived      Target Variable
1          pclass    Numerical Feature
2             sex  Categorical Feature
3             age    Numerical Feature
4           sibsp    Numerical Feature
5           parch    Numerical Feature
6            fare    Numerical Feature
7        embarked  Categorical Feature
8           class  Categorical Feature
9             who  Categorical Feature
10     adult_male  Categorical Feature
11           deck  Categorical Feature
12    embark_town  Categorical Feature
13          alive  Categorical Feature
14          alone  Categorical Feature