In [2]:
import seaborn as sns
import pandas as pd

df_iris = sns.load_dataset("iris")
df_titanic = sns.load_dataset("titanic")
df_tips = sns.load_dataset("tips")

# IRIS DATASET
print("IRIS DATASET: Species-wise Mean and Standard Deviation")
iris_stats = df_iris.groupby("species").agg(["mean", "std"])
print(iris_stats)

# TITANIC DATASET
print("\nTITANIC DATASET: Survival-wise Mean of Age and Fare")
titanic_stats = df_titanic.groupby("survived")[["age", "fare"]].mean()
print(titanic_stats)

# TIPS DATASET
print("\nTIPS DATASET: Mean and Median of Total Bill and Tip")
tips_stats = df_tips[["total_bill", "tip"]].agg(["mean", "median"])
print(tips_stats)

IRIS DATASET: Species-wise Mean and Standard Deviation
           sepal_length           sepal_width           petal_length  \
                   mean       std        mean       std         mean
species
setosa            5.006  0.352490       3.428  0.379064        1.462
versicolor        5.936  0.516171       2.770  0.313798        4.260
virginica         6.588  0.635880       2.974  0.322497        5.552

                     petal_width
                 std        mean       std
species
setosa      0.173664       0.246  0.105386
versicolor  0.469911       1.326  0.197753
virginica   0.551895       2.026  0.274650

TITANIC DATASET: Survival-wise Mean of Age and Fare
                age       fare
survived
0         30.626179  22.117887
1         28.343690  48.395408

TIPS DATASET: Mean and Median of Total Bill and Tip
        total_bill       tip
mean     19.785943  2.998279
median   17.795000  2.900000